{% extends "base.html" %}

{% block main_content %}
    <h1 class="govuk-heading-l">Chief - DDaT Contingent worker requirement approval</h1>

    {% include "includes/requirement.html" %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% include "includes/govt_uk_form.html" with form=form %}
        <input class="govuk-button" data-module="govuk-button" type="submit" value="Submit">
    </form>

    {% include "includes/request_changes.html" with form=request_changes_form requirement_id=requirement.uuid %}
{% endblock %}
