{% extends "base.html" %}

{% block main_content %}
    <h1 class="govuk-heading-l">Current requirements</h1>
    <form action="" method="get" novalidate>
        {% csrf_token %}
        {% include "includes/govt_uk_form.html" with form=search_form %}
        <input class="govuk-button" data-module="govuk-button" type="submit" value="Search">
    </form>
    {% if search_term %}
        <h2 class="govuk-heading-m">Search results for "{{ search_term }}"</h2>
    {% endif %}
    <ul class="govuk-list">
        {% for requirement in object_list %}
            <li>
                {% include "includes/requirement_summary.html" with requirement=requirement %}
                <p>
                    <a class="govuk-button" data-module="govuk-button" href="{% url "approval" requirement_id=requirement.uuid %}">View requirement</a>
                </p>
            </li>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {% empty %}
            <li><p class="govuk-body">No requirements yet.</p></li>
        {% endfor %}
    </ul>
{% endblock %}
