{% extends 'base.html' %}

{% block main_content %}
<h1>{{ object.workflow_name }}</h1>
<p>Started: {{ object.started }}</p>
<p>Finished: {{ object.finished }}</p>
<p>Is complete: {{ object.is_complete }}</p>
<p>Current task record: {{ object.current_task_record }}</p>

{% if object.current_task_record and not task.auto %}
    <div>
        <form action="proceed" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="uuid" value="{{ object.current_task_record.uuid }}">
            <button>Submit</button>
        </form>
    </div>
{% endif %}

{% if not object.started %}
    <form action="{% url 'flow-start' object.pk %}" method="POST">
        {% csrf_token %}
        <button class="govuk-button">Start</button>
    </form>
{% endif %}
{% endblock %}
