{% extends 'base.html' %}

{% block main_content %}
<h1 class="govuk-heading-l">Candidates requiring approval</h1>
<a class="govuk-button" href="{% url 'flow-create' %}">Create flow</a>
<ul class="govuk-list">
    {% for flow in object_list %}
        <li>
            {% include "includes/requirement_summary.html" with requirement=flow %}
            <p>
                {% if flow.on_manual_step %}
                    <a class="govuk-button" data-module="govuk-button" href="{% url "flow-continue" flow.pk %}">Progress requirement</a>
                {% else %}
                    <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="{% url "flow" flow.pk %}">View requirement</a>
                {% endif %}
            </p>
        </li>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% empty %}
        <li><p class="govuk-body">No requirements yet.</p></li>
    {% endfor %}
</ul>

<a class="govuk-button" href="{% url 'flow-create' %}">Create flow</a>
{% endblock %}
